<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-35</integer>
		<key>G</key>
		<integer>-35</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-35</integer>
		<key>T</key>
		<integer>-122</integer>
		<key>U</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-106</integer>
		<key>W</key>
		<integer>-72</integer>
		<key>Y</key>
		<integer>-142</integer>
		<key>quotedblright</key>
		<integer>-96</integer>
		<key>quoteright</key>
		<integer>-122</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-38</integer>
		<key>V</key>
		<integer>-28</integer>
		<key>Y</key>
		<integer>-54</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-71</integer>
		<key>a</key>
		<integer>-46</integer>
		<key>adieresis</key>
		<integer>-23</integer>
		<key>agrave</key>
		<integer>-35</integer>
		<key>atilde</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-158</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>edieresis</key>
		<integer>-19</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-208</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>comma</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-35</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>-52</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-18</integer>
		<key>y</key>
		<integer>-23</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-169</integer>
		<key>V</key>
		<integer>-163</integer>
		<key>W</key>
		<integer>-142</integer>
		<key>Y</key>
		<integer>-248</integer>
		<key>quotedblright</key>
		<integer>-157</integer>
		<key>quoteright</key>
		<integer>-146</integer>
		<key>y</key>
		<integer>-106</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-33</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-42</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-23</integer>
		<key>Y</key>
		<integer>-57</integer>
		<key>comma</key>
		<integer>-48</integer>
		<key>period</key>
		<integer>-48</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-124</integer>
		<key>a</key>
		<integer>-48</integer>
		<key>adieresis</key>
		<integer>-25</integer>
		<key>comma</key>
		<integer>-248</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-248</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>-12</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-57</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-82</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-113</integer>
		<key>acircumflex</key>
		<integer>-96</integer>
		<key>adieresis</key>
		<integer>-48</integer>
		<key>agrave</key>
		<integer>-96</integer>
		<key>aring</key>
		<integer>-96</integer>
		<key>atilde</key>
		<integer>-96</integer>
		<key>colon</key>
		<integer>-33</integer>
		<key>comma</key>
		<integer>-143</integer>
		<key>e</key>
		<integer>-173</integer>
		<key>ecircumflex</key>
		<integer>-145</integer>
		<key>edieresis</key>
		<integer>-96</integer>
		<key>egrave</key>
		<integer>-145</integer>
		<key>h</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-118</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>iacute</key>
		<integer>-17</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>igrave</key>
		<integer>17</integer>
		<key>o</key>
		<integer>-153</integer>
		<key>odieresis</key>
		<integer>-96</integer>
		<key>ograve</key>
		<integer>-96</integer>
		<key>period</key>
		<integer>-104</integer>
		<key>r</key>
		<integer>-177</integer>
		<key>semicolon</key>
		<integer>-43</integer>
		<key>u</key>
		<integer>-137</integer>
		<key>udieresis</key>
		<integer>-89</integer>
		<key>w</key>
		<integer>-184</integer>
		<key>y</key>
		<integer>-174</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-28</integer>
		<key>comma</key>
		<integer>-28</integer>
		<key>period</key>
		<integer>-18</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-76</integer>
		<key>G</key>
		<integer>-35</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-96</integer>
		<key>acircumflex</key>
		<integer>-54</integer>
		<key>adieresis</key>
		<integer>-54</integer>
		<key>agrave</key>
		<integer>-54</integer>
		<key>aring</key>
		<integer>-54</integer>
		<key>atilde</key>
		<integer>-54</integer>
		<key>comma</key>
		<integer>-218</integer>
		<key>e</key>
		<integer>-106</integer>
		<key>ecircumflex</key>
		<integer>-54</integer>
		<key>edieresis</key>
		<integer>-54</integer>
		<key>egrave</key>
		<integer>-54</integer>
		<key>hyphen</key>
		<integer>-106</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>o</key>
		<integer>-96</integer>
		<key>ocircumflex</key>
		<integer>-79</integer>
		<key>odieresis</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-148</integer>
		<key>u</key>
		<integer>-72</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>a</key>
		<integer>-72</integer>
		<key>adieresis</key>
		<integer>-44</integer>
		<key>comma</key>
		<integer>-142</integer>
		<key>e</key>
		<integer>-48</integer>
		<key>ecircumflex</key>
		<integer>-36</integer>
		<key>h</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-48</integer>
		<key>odieresis</key>
		<integer>-36</integer>
		<key>period</key>
		<integer>-92</integer>
		<key>semicolon</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-44</integer>
		<key>udieresis</key>
		<integer>-36</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-142</integer>
		<key>O</key>
		<integer>-48</integer>
		<key>a</key>
		<integer>-177</integer>
		<key>colon</key>
		<integer>-137</integer>
		<key>comma</key>
		<integer>-214</integer>
		<key>e</key>
		<integer>-160</integer>
		<key>hyphen</key>
		<integer>-214</integer>
		<key>i</key>
		<integer>-72</integer>
		<key>o</key>
		<integer>-168</integer>
		<key>odieresis</key>
		<integer>-115</integer>
		<key>period</key>
		<integer>-174</integer>
		<key>semicolon</key>
		<integer>-157</integer>
		<key>u</key>
		<integer>-142</integer>
		<key>udieresis</key>
		<integer>-108</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>y</key>
		<integer>-12</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-35</integer>
		<key>quoteright</key>
		<integer>165</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-33</integer>
		<key>o</key>
		<integer>-30</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-106</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-142</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>s</key>
		<integer>-142</integer>
		<key>t</key>
		<integer>-35</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-51</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-97</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-106</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-137</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-82</integer>
		<key>e</key>
		<integer>-13</integer>
		<key>period</key>
		<integer>-82</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-66</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-127</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-77</integer>
	</dict>
</dict>
</plist>
