<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>y</key>
	    <integer>-37</integer>
	    <key>w</key>
	    <integer>-37</integer>
	    <key>v</key>
	    <integer>-37</integer>
	    <key>u</key>
	    <integer>-37</integer>
	    <key>quoteright</key>
	    <integer>-152</integer>
	    <key>quotedblright</key>
	    <integer>-113</integer>
	    <key>Y</key>
	    <integer>-152</integer>
	    <key>W</key>
	    <integer>-76</integer>
	    <key>V</key>
	    <integer>-113</integer>
	    <key>U</key>
	    <integer>-37</integer>
	    <key>T</key>
	    <integer>-152</integer>
	    <key>Q</key>
	    <integer>-37</integer>
	    <key>O</key>
	    <integer>-37</integer>
	    <key>G</key>
	    <integer>-37</integer>
	    <key>C</key>
	    <integer>-37</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>Y</key>
	    <integer>-49</integer>
	    <key>V</key>
	    <integer>-25</integer>
	    <key>A</key>
	    <integer>-37</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>r</key>
	    <integer>-37</integer>
	    <key>period</key>
	    <integer>-264</integer>
	    <key>o</key>
	    <integer>-37</integer>
	    <key>edieresis</key>
	    <integer>-29</integer>
	    <key>e</key>
	    <integer>-37</integer>
	    <key>comma</key>
	    <integer>-264</integer>
	    <key>atilde</key>
	    <integer>-37</integer>
	    <key>agrave</key>
	    <integer>-37</integer>
	    <key>adieresis</key>
	    <integer>-37</integer>
	    <key>a</key>
	    <integer>-49</integer>
	    <key>A</key>
	    <integer>-113</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>u</key>
	    <integer>-25</integer>
	    <key>period</key>
	    <integer>-37</integer>
	    <key>comma</key>
	    <integer>-37</integer>
	    <key>a</key>
	    <integer>-12</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>y</key>
	    <integer>-25</integer>
	    <key>u</key>
	    <integer>-37</integer>
	    <key>o</key>
	    <integer>-25</integer>
	    <key>O</key>
	    <integer>-49</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>y</key>
	    <integer>-113</integer>
	    <key>quoteright</key>
	    <integer>-410</integer>
	    <key>quotedblright</key>
	    <integer>-358</integer>
	    <key>Y</key>
	    <integer>-264</integer>
	    <key>W</key>
	    <integer>-152</integer>
	    <key>V</key>
	    <integer>-227</integer>
	    <key>T</key>
	    <integer>-227</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>period</key>
	    <integer>-51</integer>
	    <key>comma</key>
	    <integer>-51</integer>
	    <key>Y</key>
	    <integer>-61</integer>
	    <key>X</key>
	    <integer>-25</integer>
	    <key>W</key>
	    <integer>-37</integer>
	    <key>V</key>
	    <integer>-51</integer>
	    <key>T</key>
	    <integer>-37</integer>
	    <key>A</key>
	    <integer>-37</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>period</key>
	    <integer>-264</integer>
	    <key>o</key>
	    <integer>-37</integer>
	    <key>e</key>
	    <integer>-37</integer>
	    <key>comma</key>
	    <integer>-264</integer>
	    <key>adieresis</key>
	    <integer>-27</integer>
	    <key>a</key>
	    <integer>-51</integer>
	    <key>A</key>
	    <integer>-152</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>U</key>
	    <integer>-12</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>Y</key>
	    <integer>-61</integer>
	    <key>W</key>
	    <integer>-37</integer>
	    <key>V</key>
	    <integer>-37</integer>
	    <key>T</key>
	    <integer>-37</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>y</key>
	    <integer>-227</integer>
	    <key>w</key>
	    <integer>-227</integer>
	    <key>udieresis</key>
	    <integer>-94</integer>
	    <key>u</key>
	    <integer>-188</integer>
	    <key>semicolon</key>
	    <integer>-205</integer>
	    <key>r</key>
	    <integer>-188</integer>
	    <key>period</key>
	    <integer>-227</integer>
	    <key>ograve</key>
	    <integer>-102</integer>
	    <key>odieresis</key>
	    <integer>-102</integer>
	    <key>o</key>
	    <integer>-205</integer>
	    <key>igrave</key>
	    <integer>18</integer>
	    <key>icircumflex</key>
	    <integer>8</integer>
	    <key>iacute</key>
	    <integer>-18</integer>
	    <key>i</key>
	    <integer>-37</integer>
	    <key>hyphen</key>
	    <integer>-264</integer>
	    <key>h</key>
	    <integer>-37</integer>
	    <key>egrave</key>
	    <integer>-154</integer>
	    <key>edieresis</key>
	    <integer>-102</integer>
	    <key>ecircumflex</key>
	    <integer>-154</integer>
	    <key>e</key>
	    <integer>-205</integer>
	    <key>comma</key>
	    <integer>-205</integer>
	    <key>colon</key>
	    <integer>-205</integer>
	    <key>atilde</key>
	    <integer>-102</integer>
	    <key>aring</key>
	    <integer>-102</integer>
	    <key>agrave</key>
	    <integer>-102</integer>
	    <key>adieresis</key>
	    <integer>-51</integer>
	    <key>acircumflex</key>
	    <integer>-102</integer>
	    <key>a</key>
	    <integer>-205</integer>
	    <key>O</key>
	    <integer>-37</integer>
	    <key>A</key>
	    <integer>-152</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>period</key>
	    <integer>-51</integer>
	    <key>comma</key>
	    <integer>-51</integer>
	    <key>A</key>
	    <integer>-51</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>u</key>
	    <integer>-76</integer>
	    <key>semicolon</key>
	    <integer>-152</integer>
	    <key>period</key>
	    <integer>-264</integer>
	    <key>odieresis</key>
	    <integer>-57</integer>
	    <key>ocircumflex</key>
	    <integer>-84</integer>
	    <key>o</key>
	    <integer>-113</integer>
	    <key>icircumflex</key>
	    <integer>8</integer>
	    <key>i</key>
	    <integer>-37</integer>
	    <key>hyphen</key>
	    <integer>-113</integer>
	    <key>egrave</key>
	    <integer>-57</integer>
	    <key>edieresis</key>
	    <integer>-57</integer>
	    <key>ecircumflex</key>
	    <integer>-57</integer>
	    <key>e</key>
	    <integer>-113</integer>
	    <key>comma</key>
	    <integer>-264</integer>
	    <key>colon</key>
	    <integer>-152</integer>
	    <key>atilde</key>
	    <integer>-57</integer>
	    <key>aring</key>
	    <integer>-57</integer>
	    <key>agrave</key>
	    <integer>-57</integer>
	    <key>adieresis</key>
	    <integer>-57</integer>
	    <key>acircumflex</key>
	    <integer>-57</integer>
	    <key>a</key>
	    <integer>-113</integer>
	    <key>O</key>
	    <integer>-37</integer>
	    <key>G</key>
	    <integer>-37</integer>
	    <key>A</key>
	    <integer>-113</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>udieresis</key>
	    <integer>-39</integer>
	    <key>u</key>
	    <integer>-51</integer>
	    <key>semicolon</key>
	    <integer>-37</integer>
	    <key>period</key>
	    <integer>-152</integer>
	    <key>odieresis</key>
	    <integer>-39</integer>
	    <key>o</key>
	    <integer>-51</integer>
	    <key>hyphen</key>
	    <integer>-37</integer>
	    <key>h</key>
	    <integer>-37</integer>
	    <key>ecircumflex</key>
	    <integer>-39</integer>
	    <key>e</key>
	    <integer>-51</integer>
	    <key>comma</key>
	    <integer>-152</integer>
	    <key>colon</key>
	    <integer>-37</integer>
	    <key>adieresis</key>
	    <integer>-57</integer>
	    <key>a</key>
	    <integer>-76</integer>
	    <key>A</key>
	    <integer>-76</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>udieresis</key>
	    <integer>-115</integer>
	    <key>u</key>
	    <integer>-152</integer>
	    <key>semicolon</key>
	    <integer>-188</integer>
	    <key>period</key>
	    <integer>-227</integer>
	    <key>odieresis</key>
	    <integer>-123</integer>
	    <key>o</key>
	    <integer>-164</integer>
	    <key>i</key>
	    <integer>-76</integer>
	    <key>hyphen</key>
	    <integer>-227</integer>
	    <key>e</key>
	    <integer>-164</integer>
	    <key>comma</key>
	    <integer>-227</integer>
	    <key>colon</key>
	    <integer>-188</integer>
	    <key>a</key>
	    <integer>-188</integer>
	    <key>O</key>
	    <integer>-51</integer>
	    <key>A</key>
	    <integer>-152</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>y</key>
	    <integer>-12</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>v</key>
	    <integer>-12</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quoteright</key>
	    <integer>37</integer>
	    <key>f</key>
	    <integer>-37</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>o</key>
	    <integer>-25</integer>
	    <key>e</key>
	    <integer>-25</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
	    <key>A</key>
	    <integer>-113</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
	    <key>quoteleft</key>
	    <integer>-174</integer>
	    <key>A</key>
	    <integer>-152</integer>
	</dict>
	<key>quoteright</key>
	<dict>
	    <key>t</key>
	    <integer>-37</integer>
	    <key>s</key>
	    <integer>-152</integer>
	    <key>quoteright</key>
	    <integer>-174</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>u</key>
	    <integer>-25</integer>
	    <key>q</key>
	    <integer>-37</integer>
	    <key>period</key>
	    <integer>-188</integer>
	    <key>o</key>
	    <integer>-37</integer>
	    <key>n</key>
	    <integer>-49</integer>
	    <key>hyphen</key>
	    <integer>-113</integer>
	    <key>e</key>
	    <integer>-37</integer>
	    <key>d</key>
	    <integer>-37</integer>
	    <key>comma</key>
	    <integer>-188</integer>
	    <key>c</key>
	    <integer>-37</integer>
	    <key>a</key>
	    <integer>-37</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>w</key>
	    <integer>-12</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>period</key>
	    <integer>-152</integer>
	    <key>e</key>
	    <integer>-12</integer>
	    <key>comma</key>
	    <integer>-152</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>period</key>
	    <integer>-113</integer>
	    <key>comma</key>
	    <integer>-113</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>period</key>
	    <integer>-188</integer>
	    <key>o</key>
	    <integer>-12</integer>
	    <key>comma</key>
	    <integer>-188</integer>
	</dict>
    </dict>
</plist>
