<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-36</integer>
		<key>G</key>
		<integer>-36</integer>
		<key>O</key>
		<integer>-36</integer>
		<key>Q</key>
		<integer>-36</integer>
		<key>T</key>
		<integer>-148</integer>
		<key>U</key>
		<integer>-36</integer>
		<key>V</key>
		<integer>-110</integer>
		<key>W</key>
		<integer>-74</integer>
		<key>Y</key>
		<integer>-148</integer>
		<key>quotedblright</key>
		<integer>-110</integer>
		<key>quoteright</key>
		<integer>-148</integer>
		<key>u</key>
		<integer>-36</integer>
		<key>v</key>
		<integer>-36</integer>
		<key>w</key>
		<integer>-36</integer>
		<key>y</key>
		<integer>-36</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-36</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-48</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>a</key>
		<integer>-48</integer>
		<key>adieresis</key>
		<integer>-36</integer>
		<key>agrave</key>
		<integer>-36</integer>
		<key>atilde</key>
		<integer>-36</integer>
		<key>comma</key>
		<integer>-257</integer>
		<key>e</key>
		<integer>-36</integer>
		<key>edieresis</key>
		<integer>-28</integer>
		<key>o</key>
		<integer>-36</integer>
		<key>period</key>
		<integer>-257</integer>
		<key>r</key>
		<integer>-36</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>a</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-36</integer>
		<key>period</key>
		<integer>-36</integer>
		<key>u</key>
		<integer>-25</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>-48</integer>
		<key>o</key>
		<integer>-25</integer>
		<key>u</key>
		<integer>-36</integer>
		<key>y</key>
		<integer>-25</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-220</integer>
		<key>V</key>
		<integer>-220</integer>
		<key>W</key>
		<integer>-148</integer>
		<key>Y</key>
		<integer>-257</integer>
		<key>quotedblright</key>
		<integer>-348</integer>
		<key>quoteright</key>
		<integer>-398</integer>
		<key>y</key>
		<integer>-110</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-36</integer>
		<key>T</key>
		<integer>-36</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-36</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-59</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-148</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>adieresis</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-257</integer>
		<key>e</key>
		<integer>-36</integer>
		<key>o</key>
		<integer>-36</integer>
		<key>period</key>
		<integer>-257</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>-12</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-36</integer>
		<key>V</key>
		<integer>-36</integer>
		<key>W</key>
		<integer>-36</integer>
		<key>Y</key>
		<integer>-59</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-148</integer>
		<key>O</key>
		<integer>-36</integer>
		<key>a</key>
		<integer>-199</integer>
		<key>acircumflex</key>
		<integer>-99</integer>
		<key>adieresis</key>
		<integer>-50</integer>
		<key>agrave</key>
		<integer>-99</integer>
		<key>aring</key>
		<integer>-99</integer>
		<key>atilde</key>
		<integer>-99</integer>
		<key>colon</key>
		<integer>-199</integer>
		<key>comma</key>
		<integer>-199</integer>
		<key>e</key>
		<integer>-199</integer>
		<key>ecircumflex</key>
		<integer>-150</integer>
		<key>edieresis</key>
		<integer>-99</integer>
		<key>egrave</key>
		<integer>-150</integer>
		<key>h</key>
		<integer>-36</integer>
		<key>hyphen</key>
		<integer>-257</integer>
		<key>i</key>
		<integer>-36</integer>
		<key>iacute</key>
		<integer>-18</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>igrave</key>
		<integer>18</integer>
		<key>o</key>
		<integer>-199</integer>
		<key>odieresis</key>
		<integer>-99</integer>
		<key>ograve</key>
		<integer>-99</integer>
		<key>period</key>
		<integer>-220</integer>
		<key>r</key>
		<integer>-183</integer>
		<key>semicolon</key>
		<integer>-199</integer>
		<key>u</key>
		<integer>-183</integer>
		<key>udieresis</key>
		<integer>-91</integer>
		<key>w</key>
		<integer>-220</integer>
		<key>y</key>
		<integer>-220</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>G</key>
		<integer>-36</integer>
		<key>O</key>
		<integer>-36</integer>
		<key>a</key>
		<integer>-110</integer>
		<key>acircumflex</key>
		<integer>-56</integer>
		<key>adieresis</key>
		<integer>-56</integer>
		<key>agrave</key>
		<integer>-56</integer>
		<key>aring</key>
		<integer>-56</integer>
		<key>atilde</key>
		<integer>-56</integer>
		<key>colon</key>
		<integer>-148</integer>
		<key>comma</key>
		<integer>-257</integer>
		<key>e</key>
		<integer>-110</integer>
		<key>ecircumflex</key>
		<integer>-56</integer>
		<key>edieresis</key>
		<integer>-56</integer>
		<key>egrave</key>
		<integer>-56</integer>
		<key>hyphen</key>
		<integer>-110</integer>
		<key>i</key>
		<integer>-36</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>o</key>
		<integer>-110</integer>
		<key>ocircumflex</key>
		<integer>-82</integer>
		<key>odieresis</key>
		<integer>-56</integer>
		<key>period</key>
		<integer>-257</integer>
		<key>semicolon</key>
		<integer>-148</integer>
		<key>u</key>
		<integer>-74</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>a</key>
		<integer>-74</integer>
		<key>adieresis</key>
		<integer>-56</integer>
		<key>colon</key>
		<integer>-36</integer>
		<key>comma</key>
		<integer>-148</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>ecircumflex</key>
		<integer>-38</integer>
		<key>h</key>
		<integer>-36</integer>
		<key>hyphen</key>
		<integer>-36</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>odieresis</key>
		<integer>-38</integer>
		<key>period</key>
		<integer>-148</integer>
		<key>semicolon</key>
		<integer>-36</integer>
		<key>u</key>
		<integer>-50</integer>
		<key>udieresis</key>
		<integer>-38</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-148</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-183</integer>
		<key>colon</key>
		<integer>-183</integer>
		<key>comma</key>
		<integer>-220</integer>
		<key>e</key>
		<integer>-159</integer>
		<key>hyphen</key>
		<integer>-220</integer>
		<key>i</key>
		<integer>-74</integer>
		<key>o</key>
		<integer>-174</integer>
		<key>odieresis</key>
		<integer>-120</integer>
		<key>period</key>
		<integer>-220</integer>
		<key>semicolon</key>
		<integer>-183</integer>
		<key>u</key>
		<integer>-148</integer>
		<key>udieresis</key>
		<integer>-112</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>y</key>
		<integer>-12</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-37</integer>
		<key>quoteright</key>
		<integer>37</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-25</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-113</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-152</integer>
		<key>quoteleft</key>
		<integer>-174</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>quoteright</key>
		<integer>-174</integer>
		<key>s</key>
		<integer>-152</integer>
		<key>t</key>
		<integer>-37</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-37</integer>
		<key>c</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-188</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>hyphen</key>
		<integer>-113</integer>
		<key>n</key>
		<integer>-49</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-188</integer>
		<key>q</key>
		<integer>-37</integer>
		<key>u</key>
		<integer>-25</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-152</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-152</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-113</integer>
		<key>period</key>
		<integer>-113</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-188</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-188</integer>
	</dict>
</dict>
</plist>
