<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>y</key>
	    <integer>-34</integer>
	    <key>w</key>
	    <integer>-34</integer>
	    <key>v</key>
	    <integer>-34</integer>
	    <key>u</key>
	    <integer>-34</integer>
	    <key>quoteright</key>
	    <integer>-139</integer>
	    <key>quotedblright</key>
	    <integer>-103</integer>
	    <key>Y</key>
	    <integer>-139</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-103</integer>
	    <key>U</key>
	    <integer>-34</integer>
	    <key>T</key>
	    <integer>-139</integer>
	    <key>Q</key>
	    <integer>-34</integer>
	    <key>O</key>
	    <integer>-34</integer>
	    <key>G</key>
	    <integer>-34</integer>
	    <key>C</key>
	    <integer>-34</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>Y</key>
	    <integer>-45</integer>
	    <key>V</key>
	    <integer>-23</integer>
	    <key>A</key>
	    <integer>-34</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>r</key>
	    <integer>-34</integer>
	    <key>period</key>
	    <integer>-241</integer>
	    <key>o</key>
	    <integer>-34</integer>
	    <key>edieresis</key>
	    <integer>-26</integer>
	    <key>e</key>
	    <integer>-34</integer>
	    <key>comma</key>
	    <integer>-241</integer>
	    <key>atilde</key>
	    <integer>-34</integer>
	    <key>agrave</key>
	    <integer>-34</integer>
	    <key>adieresis</key>
	    <integer>-34</integer>
	    <key>a</key>
	    <integer>-45</integer>
	    <key>A</key>
	    <integer>-103</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>u</key>
	    <integer>-23</integer>
	    <key>period</key>
	    <integer>-34</integer>
	    <key>comma</key>
	    <integer>-34</integer>
	    <key>a</key>
	    <integer>-11</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>y</key>
	    <integer>-23</integer>
	    <key>u</key>
	    <integer>-34</integer>
	    <key>o</key>
	    <integer>-23</integer>
	    <key>O</key>
	    <integer>-45</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>y</key>
	    <integer>-103</integer>
	    <key>quoteright</key>
	    <integer>-374</integer>
	    <key>quotedblright</key>
	    <integer>-327</integer>
	    <key>Y</key>
	    <integer>-241</integer>
	    <key>W</key>
	    <integer>-139</integer>
	    <key>V</key>
	    <integer>-207</integer>
	    <key>T</key>
	    <integer>-207</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>period</key>
	    <integer>-46</integer>
	    <key>comma</key>
	    <integer>-46</integer>
	    <key>Y</key>
	    <integer>-56</integer>
	    <key>X</key>
	    <integer>-23</integer>
	    <key>W</key>
	    <integer>-34</integer>
	    <key>V</key>
	    <integer>-46</integer>
	    <key>T</key>
	    <integer>-34</integer>
	    <key>A</key>
	    <integer>-34</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>period</key>
	    <integer>-241</integer>
	    <key>o</key>
	    <integer>-34</integer>
	    <key>e</key>
	    <integer>-34</integer>
	    <key>comma</key>
	    <integer>-241</integer>
	    <key>adieresis</key>
	    <integer>-24</integer>
	    <key>a</key>
	    <integer>-46</integer>
	    <key>A</key>
	    <integer>-139</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>U</key>
	    <integer>-11</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>Y</key>
	    <integer>-56</integer>
	    <key>W</key>
	    <integer>-34</integer>
	    <key>V</key>
	    <integer>-34</integer>
	    <key>T</key>
	    <integer>-34</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>y</key>
	    <integer>-207</integer>
	    <key>w</key>
	    <integer>-207</integer>
	    <key>udieresis</key>
	    <integer>-86</integer>
	    <key>u</key>
	    <integer>-172</integer>
	    <key>semicolon</key>
	    <integer>-187</integer>
	    <key>r</key>
	    <integer>-172</integer>
	    <key>period</key>
	    <integer>-207</integer>
	    <key>ograve</key>
	    <integer>-93</integer>
	    <key>odieresis</key>
	    <integer>-93</integer>
	    <key>o</key>
	    <integer>-187</integer>
	    <key>igrave</key>
	    <integer>17</integer>
	    <key>icircumflex</key>
	    <integer>7</integer>
	    <key>iacute</key>
	    <integer>-17</integer>
	    <key>i</key>
	    <integer>-34</integer>
	    <key>hyphen</key>
	    <integer>-241</integer>
	    <key>h</key>
	    <integer>-34</integer>
	    <key>egrave</key>
	    <integer>-141</integer>
	    <key>edieresis</key>
	    <integer>-93</integer>
	    <key>ecircumflex</key>
	    <integer>-141</integer>
	    <key>e</key>
	    <integer>-187</integer>
	    <key>comma</key>
	    <integer>-187</integer>
	    <key>colon</key>
	    <integer>-187</integer>
	    <key>atilde</key>
	    <integer>-93</integer>
	    <key>aring</key>
	    <integer>-93</integer>
	    <key>agrave</key>
	    <integer>-93</integer>
	    <key>adieresis</key>
	    <integer>-46</integer>
	    <key>acircumflex</key>
	    <integer>-93</integer>
	    <key>a</key>
	    <integer>-187</integer>
	    <key>O</key>
	    <integer>-34</integer>
	    <key>A</key>
	    <integer>-139</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>period</key>
	    <integer>-46</integer>
	    <key>comma</key>
	    <integer>-46</integer>
	    <key>A</key>
	    <integer>-46</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>u</key>
	    <integer>-70</integer>
	    <key>semicolon</key>
	    <integer>-139</integer>
	    <key>period</key>
	    <integer>-241</integer>
	    <key>odieresis</key>
	    <integer>-52</integer>
	    <key>ocircumflex</key>
	    <integer>-77</integer>
	    <key>o</key>
	    <integer>-103</integer>
	    <key>icircumflex</key>
	    <integer>7</integer>
	    <key>i</key>
	    <integer>-34</integer>
	    <key>hyphen</key>
	    <integer>-103</integer>
	    <key>egrave</key>
	    <integer>-52</integer>
	    <key>edieresis</key>
	    <integer>-52</integer>
	    <key>ecircumflex</key>
	    <integer>-52</integer>
	    <key>e</key>
	    <integer>-103</integer>
	    <key>comma</key>
	    <integer>-241</integer>
	    <key>colon</key>
	    <integer>-139</integer>
	    <key>atilde</key>
	    <integer>-52</integer>
	    <key>aring</key>
	    <integer>-52</integer>
	    <key>agrave</key>
	    <integer>-52</integer>
	    <key>adieresis</key>
	    <integer>-52</integer>
	    <key>acircumflex</key>
	    <integer>-52</integer>
	    <key>a</key>
	    <integer>-103</integer>
	    <key>O</key>
	    <integer>-34</integer>
	    <key>G</key>
	    <integer>-34</integer>
	    <key>A</key>
	    <integer>-103</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>udieresis</key>
	    <integer>-36</integer>
	    <key>u</key>
	    <integer>-46</integer>
	    <key>semicolon</key>
	    <integer>-34</integer>
	    <key>period</key>
	    <integer>-139</integer>
	    <key>odieresis</key>
	    <integer>-36</integer>
	    <key>o</key>
	    <integer>-46</integer>
	    <key>hyphen</key>
	    <integer>-34</integer>
	    <key>h</key>
	    <integer>-34</integer>
	    <key>ecircumflex</key>
	    <integer>-36</integer>
	    <key>e</key>
	    <integer>-46</integer>
	    <key>comma</key>
	    <integer>-139</integer>
	    <key>colon</key>
	    <integer>-34</integer>
	    <key>adieresis</key>
	    <integer>-52</integer>
	    <key>a</key>
	    <integer>-70</integer>
	    <key>A</key>
	    <integer>-70</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>udieresis</key>
	    <integer>-105</integer>
	    <key>u</key>
	    <integer>-139</integer>
	    <key>semicolon</key>
	    <integer>-172</integer>
	    <key>period</key>
	    <integer>-207</integer>
	    <key>odieresis</key>
	    <integer>-113</integer>
	    <key>o</key>
	    <integer>-163</integer>
	    <key>i</key>
	    <integer>-70</integer>
	    <key>hyphen</key>
	    <integer>-207</integer>
	    <key>e</key>
	    <integer>-149</integer>
	    <key>comma</key>
	    <integer>-207</integer>
	    <key>colon</key>
	    <integer>-172</integer>
	    <key>a</key>
	    <integer>-172</integer>
	    <key>O</key>
	    <integer>-46</integer>
	    <key>A</key>
	    <integer>-139</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>y</key>
	    <integer>-11</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>v</key>
	    <integer>-11</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quoteright</key>
	    <integer>35</integer>
	    <key>f</key>
	    <integer>-35</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>o</key>
	    <integer>-23</integer>
	    <key>e</key>
	    <integer>-23</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
	    <key>A</key>
	    <integer>-106</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
	    <key>quoteleft</key>
	    <integer>-163</integer>
	    <key>A</key>
	    <integer>-142</integer>
	</dict>
	<key>quoteright</key>
	<dict>
	    <key>t</key>
	    <integer>-35</integer>
	    <key>s</key>
	    <integer>-142</integer>
	    <key>quoteright</key>
	    <integer>-163</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>u</key>
	    <integer>-23</integer>
	    <key>q</key>
	    <integer>-35</integer>
	    <key>period</key>
	    <integer>-176</integer>
	    <key>o</key>
	    <integer>-35</integer>
	    <key>n</key>
	    <integer>-45</integer>
	    <key>hyphen</key>
	    <integer>-106</integer>
	    <key>e</key>
	    <integer>-35</integer>
	    <key>d</key>
	    <integer>-35</integer>
	    <key>comma</key>
	    <integer>-176</integer>
	    <key>c</key>
	    <integer>-35</integer>
	    <key>a</key>
	    <integer>-35</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>w</key>
	    <integer>-11</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>period</key>
	    <integer>-142</integer>
	    <key>e</key>
	    <integer>-11</integer>
	    <key>comma</key>
	    <integer>-142</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>period</key>
	    <integer>-106</integer>
	    <key>comma</key>
	    <integer>-106</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>period</key>
	    <integer>-176</integer>
	    <key>o</key>
	    <integer>-11</integer>
	    <key>comma</key>
	    <integer>-176</integer>
	</dict>
    </dict>
</plist>
