<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1521</integer>
	<key>capHeight</key>
	<integer>1575</integer>
	<key>copyright</key>
	<string></string>
	<key>descender</key>
	<integer>-414</integer>
	<key>familyName</key>
	<string>Jinko</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDName</key>
	<string>Kinjo</string>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2012/03/27 07:56:45</string>
	<key>openTypeNameCompatibleFullName</key>
	<string>Jinko Bold</string>
	<key>openTypeNameVersion</key>
	<string>Version 0.1</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1901</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-483</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1901</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>483</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-28</integer>
		<integer>0</integer>
		<integer>1098</integer>
		<integer>1123</integer>
		<integer>1479</integer>
		<integer>1503</integer>
		<integer>1520</integer>
		<integer>1532</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Jinko</string>
	<key>postscriptForceBold</key>
	<true/>
	<key>postscriptFullName</key>
	<string>Jinko Book</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-420</integer>
		<integer>-414</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
		<integer>175</integer>
		<integer>190</integer>
		<integer>209</integer>
		<integer>215</integer>
		<integer>249</integer>
		<integer>257</integer>
		<integer>262</integer>
		<integer>271</integer>
		<integer>278</integer>
		<integer>282</integer>
		<integer>286</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>209</integer>
		<integer>358</integer>
		<integer>362</integer>
		<integer>383</integer>
		<integer>394</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-205</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>postscriptWeightName</key>
	<string>Book</string>
	<key>styleName</key>
	<string>Book</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1103</integer>
</dict>
</plist>
