<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-39</integer>
		<key>G</key>
		<integer>-39</integer>
		<key>O</key>
		<integer>-39</integer>
		<key>Q</key>
		<integer>-39</integer>
		<key>T</key>
		<integer>-162</integer>
		<key>U</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-120</integer>
		<key>W</key>
		<integer>-81</integer>
		<key>Y</key>
		<integer>-162</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
		<key>quoteright</key>
		<integer>-162</integer>
		<key>u</key>
		<integer>-39</integer>
		<key>v</key>
		<integer>-39</integer>
		<key>w</key>
		<integer>-39</integer>
		<key>y</key>
		<integer>-39</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-26</integer>
		<key>Y</key>
		<integer>-52</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>a</key>
		<integer>-52</integer>
		<key>adieresis</key>
		<integer>-39</integer>
		<key>agrave</key>
		<integer>-39</integer>
		<key>atilde</key>
		<integer>-39</integer>
		<key>comma</key>
		<integer>-281</integer>
		<key>e</key>
		<integer>-39</integer>
		<key>edieresis</key>
		<integer>-31</integer>
		<key>o</key>
		<integer>-39</integer>
		<key>period</key>
		<integer>-281</integer>
		<key>r</key>
		<integer>-39</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>a</key>
		<integer>-13</integer>
		<key>comma</key>
		<integer>-39</integer>
		<key>period</key>
		<integer>-39</integer>
		<key>u</key>
		<integer>-26</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>-52</integer>
		<key>o</key>
		<integer>-26</integer>
		<key>u</key>
		<integer>-39</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-242</integer>
		<key>V</key>
		<integer>-242</integer>
		<key>W</key>
		<integer>-162</integer>
		<key>Y</key>
		<integer>-281</integer>
		<key>quotedblright</key>
		<integer>-381</integer>
		<key>quoteright</key>
		<integer>-437</integer>
		<key>y</key>
		<integer>-120</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-39</integer>
		<key>T</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-54</integer>
		<key>W</key>
		<integer>-39</integer>
		<key>X</key>
		<integer>-26</integer>
		<key>Y</key>
		<integer>-65</integer>
		<key>comma</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-54</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-162</integer>
		<key>a</key>
		<integer>-54</integer>
		<key>adieresis</key>
		<integer>-29</integer>
		<key>comma</key>
		<integer>-281</integer>
		<key>e</key>
		<integer>-39</integer>
		<key>o</key>
		<integer>-39</integer>
		<key>period</key>
		<integer>-281</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>-13</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-39</integer>
		<key>W</key>
		<integer>-39</integer>
		<key>Y</key>
		<integer>-65</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-162</integer>
		<key>O</key>
		<integer>-39</integer>
		<key>a</key>
		<integer>-218</integer>
		<key>acircumflex</key>
		<integer>-108</integer>
		<key>adieresis</key>
		<integer>-54</integer>
		<key>agrave</key>
		<integer>-108</integer>
		<key>aring</key>
		<integer>-108</integer>
		<key>atilde</key>
		<integer>-108</integer>
		<key>colon</key>
		<integer>-218</integer>
		<key>comma</key>
		<integer>-218</integer>
		<key>e</key>
		<integer>-218</integer>
		<key>ecircumflex</key>
		<integer>-164</integer>
		<key>edieresis</key>
		<integer>-108</integer>
		<key>egrave</key>
		<integer>-164</integer>
		<key>h</key>
		<integer>-39</integer>
		<key>hyphen</key>
		<integer>-281</integer>
		<key>i</key>
		<integer>-39</integer>
		<key>iacute</key>
		<integer>-19</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>igrave</key>
		<integer>19</integer>
		<key>o</key>
		<integer>-218</integer>
		<key>odieresis</key>
		<integer>-108</integer>
		<key>ograve</key>
		<integer>-108</integer>
		<key>period</key>
		<integer>-242</integer>
		<key>r</key>
		<integer>-200</integer>
		<key>semicolon</key>
		<integer>-218</integer>
		<key>u</key>
		<integer>-200</integer>
		<key>udieresis</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>-242</integer>
		<key>y</key>
		<integer>-242</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-54</integer>
		<key>comma</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-54</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-120</integer>
		<key>G</key>
		<integer>-39</integer>
		<key>O</key>
		<integer>-39</integer>
		<key>a</key>
		<integer>-120</integer>
		<key>acircumflex</key>
		<integer>-60</integer>
		<key>adieresis</key>
		<integer>-60</integer>
		<key>agrave</key>
		<integer>-60</integer>
		<key>aring</key>
		<integer>-60</integer>
		<key>atilde</key>
		<integer>-60</integer>
		<key>colon</key>
		<integer>-162</integer>
		<key>comma</key>
		<integer>-281</integer>
		<key>e</key>
		<integer>-120</integer>
		<key>ecircumflex</key>
		<integer>-60</integer>
		<key>edieresis</key>
		<integer>-60</integer>
		<key>egrave</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-120</integer>
		<key>i</key>
		<integer>-39</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>o</key>
		<integer>-120</integer>
		<key>ocircumflex</key>
		<integer>-89</integer>
		<key>odieresis</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-281</integer>
		<key>semicolon</key>
		<integer>-162</integer>
		<key>u</key>
		<integer>-81</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-81</integer>
		<key>a</key>
		<integer>-81</integer>
		<key>adieresis</key>
		<integer>-60</integer>
		<key>colon</key>
		<integer>-39</integer>
		<key>comma</key>
		<integer>-162</integer>
		<key>e</key>
		<integer>-54</integer>
		<key>ecircumflex</key>
		<integer>-41</integer>
		<key>h</key>
		<integer>-39</integer>
		<key>hyphen</key>
		<integer>-39</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>odieresis</key>
		<integer>-41</integer>
		<key>period</key>
		<integer>-162</integer>
		<key>semicolon</key>
		<integer>-39</integer>
		<key>u</key>
		<integer>-54</integer>
		<key>udieresis</key>
		<integer>-41</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-162</integer>
		<key>O</key>
		<integer>-54</integer>
		<key>a</key>
		<integer>-200</integer>
		<key>colon</key>
		<integer>-200</integer>
		<key>comma</key>
		<integer>-242</integer>
		<key>e</key>
		<integer>-175</integer>
		<key>hyphen</key>
		<integer>-242</integer>
		<key>i</key>
		<integer>-81</integer>
		<key>o</key>
		<integer>-191</integer>
		<key>odieresis</key>
		<integer>-130</integer>
		<key>period</key>
		<integer>-242</integer>
		<key>semicolon</key>
		<integer>-200</integer>
		<key>u</key>
		<integer>-162</integer>
		<key>udieresis</key>
		<integer>-122</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>y</key>
		<integer>-12</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-37</integer>
		<key>quoteright</key>
		<integer>37</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-25</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-113</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-153</integer>
		<key>quoteleft</key>
		<integer>-175</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>quoteright</key>
		<integer>-175</integer>
		<key>s</key>
		<integer>-153</integer>
		<key>t</key>
		<integer>-37</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-37</integer>
		<key>c</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-189</integer>
		<key>d</key>
		<integer>-37</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>hyphen</key>
		<integer>-113</integer>
		<key>n</key>
		<integer>-49</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-189</integer>
		<key>q</key>
		<integer>-37</integer>
		<key>u</key>
		<integer>-25</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-153</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-153</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-113</integer>
		<key>period</key>
		<integer>-113</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-189</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-189</integer>
	</dict>
</dict>
</plist>
